.component-field-content-types {
  display: inline-block;
  font-size: 11px;
  margin-bottom: 5px;
}
.form-group > .component-field-content-types {
  margin-left: 10px;
  margin-bottom: 0;
}
.component-field-content-types.is-hidden {
  visibility: hidden;
}
.component-field-content-types a {
  margin-right: 10px;
}
.component-field-content-types a.is-active {
  pointer-events: none;
  color: #999;
  outline: none;
  text-decoration: none;
}
.component-field-content-types a i {
  margin-right: 3px;
}
.component-field-content-type {
  display: none;
}
