.component-field-content{

   &-types{
      display inline-block
      font-size 11px
      margin-bottom 5px

      /.form-group > & {
         margin-left 10px
         margin-bottom 0
      }

      &.is-hidden{
         visibility hidden
      }

      a{
         margin-right 10px

         &.is-active{
            pointer-events none
            color #999
            outline none
            text-decoration none
         }

         i{
            margin-right 3px
         }
      }
   }

   &-type{
      display none
   }

}
